{% extends 'root/_base.html' %}

{% load static thumbnail i18n %}

{% block content %}
    <div class="content-title">
        <h2>{% blocktrans %}Employee's Personal card{% endblocktrans %}</h2>
        <span>№: {{ employee.register_number }}</span>
    </div>
    <div class="card-main">
        <div class="card-main__header">
            <h2>{{ employee.full_name_ru }}</h2>
        </div>
        <div class="opView-tab__main card-main__content">
            <div class="opView-tab__content">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active"><a href="#tab1" data-toggle="tab"><img src="{% static 'operator/images/operator.svg' %}"> <span>{% trans 'Operator' %} 1</span></a></li>
                    <li><a href="#tab2" data-toggle="tab"><img src="{% static 'operator/images/operator.svg' %}"> <span>{% trans 'Operator' %} 2</span></a></li>
                    <li><a href="#tab3" data-toggle="tab"><img src="{% static 'operator/images/operator.svg' %}"> <span>{% trans 'Operator' %} 3</span></a></li>
                    <li><a href="#tab4" data-toggle="tab"><img src="{% static 'operator/images/operator.svg' %}"> <span>{% trans 'Operator' %} 4</span></a></li>
                    <!--<li><a href="#tab5" data-toggle="tab"><span>Доп.Инфо</span></a></li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        <div class="tab-opView__main">
                            <div class="opView-title">
                                <h2>{% trans 'Operator' %} 1</h2>
                            </div>
                            <div class="opView-content">
                                <ul>
                                    <li>
                                        <strong>{% trans 'Register number' %}:</strong>
                                        <span>{{ employee.register_number }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Fullname ru' %}:</strong>
                                        <span>{{ employee.full_name_ru }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Fullname en' %}:</strong>
                                        <span>{{ employee.full_name_en }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Gender' %}:</strong>
                                        <span>{{ employee.get_gender_display }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Passport serial' %}:</strong>
                                        <span>{{ employee.passport_serial }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Passport given date' %}:</strong>
                                        <span>{{ employee.passport_given_date|date:'d.m.Y' }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Passport expires' %}:</strong>
                                        <span>{{ employee.passport_expires|date:'d.m.Y' }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Inn' %}:</strong>
                                        <span>{{ employee.inn }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Birth date' %}:</strong>
                                        <span>{{ employee.birth_date|date:"d.m.Y" }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Birth place' %}:</strong>
                                        <span>{{ employee.birth_place_ru }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Living address' %}:</strong>
                                        <span>{{ employee.lives_at_ru }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Phone' %}:</strong>
                                        <span>{{ employee.phone }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Email' %}:</strong>
                                        <span>{{ employee.email }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="opView-buttons">
                                <a href="{% url 'root.employee.update.1' employee.id %}" class="opView-edit_button">{% trans 'Edit' %}</a>
                                <a href="{% url 'root.employee.translation.1' employee.id %}" class="opView-edit_button">{% trans 'Translate' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="tab-opView__main">
                            <div class="opView-title">
                                <h2>{% trans 'Operator' %} 2</h2>
                            </div>
                            <div class="opView-content">
                                <ul>
                                    <li>
                                        <strong>{% trans 'Appearance' %}:</strong>
                                        <span>{{ employee.appearance }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Neatness' %}:</strong>
                                        <span>{{ employee.neatness }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Skin' %}:</strong>
                                        <span>{{ employee.skin }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Height' %} ({% trans 'sm' %}):</strong>
                                        <span>{{ employee.height|floatformat }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Weight' %} ({% trans 'kg' %}):</strong>
                                        <span>{{ employee.weight|floatformat }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Fatness' %} (%):</strong>
                                        <span>{{ employee.fatness|floatformat }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Blood group' %}:</strong>
                                        <span>{{ employee.blood_group }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Vision left' %}:</strong>
                                        <span>{{ employee.vision_l|floatformat }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Vision right' %}:</strong>
                                        <span>{{ employee.vision_r|floatformat }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="opView-buttons">
                                <a href="{% url 'root.employee.update.2' employee.id %}" class="opView-edit_button">{% trans 'Edit' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <div class="tab-opView__main">
                            <div class="opView-title">
                                <h2>{% trans 'Operator' %} 3</h2>
                            </div>
                            <div class="opView-content">
                                <div class="panel-group d-accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".d-accordion" href="#educations-view">
                                            <h4 class="panel-title">Образование <i class="fa fa-chevron-up pull-right"></i></h4>
                                        </div>
                                        <div id="educations-view" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                {% for edu in employee.education_set.all %}
                                                    <div class="op3View-item">
                                                        <ul>
                                                            <li>
                                                                <strong>{% trans 'Education type' %}:</strong>
                                                                <span>{{ edu.type.name_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Education name' %}:</strong>
                                                                <span>{{ edu.name_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Education address' %}:</strong>
                                                                <span>{{ edu.address_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Education specialization' %}:</strong>
                                                                <span>{{ edu.specialization_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Education date start' %}:</strong>
                                                                <span>{{ edu.date_started|date:"d.m.Y" }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Education date end' %}:</strong>
                                                                <span>{{ edu.date_finished|date:"d.m.Y" }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Education other' %}:</strong>
                                                                <span>{{ edu.additional_ru }}</span>
                                                            </li>
                                                            <li class="files-view">
                                                                {% for file in edu.file.all %}
                                                                    <ul class="files-view__main">
                                                                        <li>
                                                                            <a data-fancybox href="{{ file.file.url }}"><i class="fa fa-file" aria-hidden="true"></i>{{ file.file.name }}</a>
                                                                            <span>{{ file.file.size|filesizeformat }}</span>
                                                                        </li>
                                                                    </ul>
                                                                {% endfor %}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".d-accordion" href="#language-view">
                                            <h4 class="panel-title">Знание языков <i class="fa fa-chevron-up pull-right"></i></h4>
                                        </div>
                                        <div id="language-view" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {% for lang in employee.language_set.all %}
                                                    <div class="op3View-item">
                                                        <ul>
                                                            <li>
                                                                <strong>{% trans 'Language name' %}:</strong>
                                                                <span>{{ lang.language.name_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Language level' %}:</strong>
                                                                <span>{{ lang.get_level_display }}</span>
                                                            </li>
                                                            <li class="files-view">
                                                                {% for file in lang.file.all %}
                                                                    <ul class="files-view__main">
                                                                        <li>
                                                                            <a data-fancybox href="{{ file.file.url }}"><i class="fa fa-file" aria-hidden="true"></i>{{ file.file.name }}</a>
                                                                            <span>{{ file.file.size|filesizeformat }}</span>
                                                                        </li>
                                                                    </ul>
                                                                {% endfor %}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".d-accordion" href="#militaryView">
                                            <h4 class="panel-title">Служба в армии<i class="fa fa-chevron-up pull-right"></i></h4>
                                        </div>
                                        <div id="militaryView" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {% for army in employee.army_set.all %}
                                                    <div class="op3View-item">
                                                        <ul>
                                                            <li>
                                                                <strong>{% trans 'Military duty' %}:</strong>
                                                                <span>{% if employee.military_duty %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Military name' %}:</strong>
                                                                <span>{{ army.name_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Military date start' %}:</strong>
                                                                <span>{{ army.date_started|date:'d.m.Y' }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Military region' %}:</strong>
                                                                <span>{{ army.region_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Military date end' %}:</strong>
                                                                <span>{{ army.date_finished|date:'d.m.Y' }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Military specialization' %}:</strong>
                                                                <span>{{ army.specialization_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Military rank' %}:</strong>
                                                                <span>{{ army.rank_ru }}</span>
                                                            </li>
                                                            <li class="files-view">
                                                                {% for file in army.file.all %}
                                                                    <ul class="files-view__main">
                                                                        <li>
                                                                            <a data-fancybox href="{{ file.file.url }}"><i class="fa fa-file" aria-hidden="true"></i>{{ file.file.name }}</a>
                                                                            <span>{{ file.file.size|filesizeformat }}</span>
                                                                        </li>
                                                                    </ul>
                                                                {% endfor %}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".d-accordion" href="#receivedView">
                                            <h4 class="panel-title">Полученные награды<i class="fa fa-chevron-up pull-right"></i></h4>
                                        </div>
                                        <div id="receivedView" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {% for reward in employee.reward_set.all %}
                                                    <div class="op3View-item">
                                                        <ul>
                                                            <li>
                                                                <strong>{% trans 'Reward name' %}:</strong>
                                                                <span>{{ reward.name_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Reward comment' %}:</strong>
                                                                <span>{{ reward.description_ru }}</span>
                                                            </li>
                                                            <li class="files-view">
                                                                {% for file in reward.file.all %}
                                                                    <ul class="files-view__main">
                                                                        <li>
                                                                            <a data-fancybox href="{{ file.file.url }}"><i class="fa fa-file" aria-hidden="true"></i>{{ file.file.name }}</a>
                                                                            <span>{{ file.file.size|filesizeformat }}</span>
                                                                        </li>
                                                                    </ul>
                                                                {% endfor %}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".d-accordion" href="#familyView">
                                            <h4 class="panel-title">Семейное положение<i class="fa fa-chevron-up pull-right"></i></h4>
                                        </div>
                                        <div id="familyView" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {% if employee.family %}
                                                    <div class="op3View-item">
                                                        <ul>
                                                            <li>
                                                                <strong>{% trans 'Family status' %}:</strong>
                                                                <span>{{ employee.family.get_status_display }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Family children amount' %}:</strong>
                                                                <span>{{ employee.family.children_amount }}</span>
                                                            </li>
                                                            <li class="files-view">
                                                                {% for file in employee.family.file.all %}
                                                                    <ul class="files-view__main">
                                                                        <li>
                                                                            <a data-fancybox href="{{ file.file.url }}"><i class="fa fa-file" aria-hidden="true"></i>{{ file.file.name }}</a>
                                                                            <span>{{ file.file.size|filesizeformat }}</span>
                                                                        </li>
                                                                    </ul>
                                                                {% endfor %}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".d-accordion" href="#relativesView">
                                            <h4 class="panel-title">Близкие родственники<i class="fa fa-chevron-up pull-right"></i></h4>
                                        </div>
                                        <div id="relativesView" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {% for rel in employee.relative_set.all %}
                                                    <div class="op3View-item">
                                                        <ul>
                                                            <li>
                                                                <strong>{% trans 'Relative level' %}:</strong>
                                                                <span>{{ rel.get_level_display }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Relative fullname' %}:</strong>
                                                                <span>{{ rel.fullname_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Relative birth date' %}:</strong>
                                                                <span>{{ rel.birth_date|date:'d.m.Y' }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Relative work/study place' %}:</strong>
                                                                <span>{{ rel.study_work_place_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Relative position' %}:</strong>
                                                                <span>{{ rel.position_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Relative living address' %}:</strong>
                                                                <span>{{ rel.living_address_ru }}</span>
                                                            </li>
                                                            <li class="files-view">
                                                                {% for file in rel.file.all %}
                                                                    <ul class="files-view__main">
                                                                        <li>
                                                                            <a data-fancybox href="{{ file.file.url }}"><i class="fa fa-file" aria-hidden="true"></i>{{ file.file.name }}</a>
                                                                            <span>{{ file.file.size|filesizeformat }}</span>
                                                                        </li>
                                                                    </ul>
                                                                {% endfor %}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-parent=".d-accordion" href="#experienceView">
                                            <h4 class="panel-title">Трудовой опыт<i class="fa fa-chevron-up pull-right"></i></h4>
                                        </div>
                                        <div id="experienceView" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {% for ex in employee.experience_set.all %}
                                                    <div class="op3View-item">
                                                        <ul>
                                                            <li>
                                                                <strong>{% trans 'Experience organization' %}:</strong>
                                                                <span>{{ ex.organization_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Experience date start' %}:</strong>
                                                                <span>{{ ex.date_started|date:'Y-mn-d' }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Experience date end' %}:</strong>
                                                                <span>{{ ex.date_finished|date:'d.m.Y' }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Experience position' %}:</strong>
                                                                <span>{{ ex.position_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Experience subdivision' %}:</strong>
                                                                <span>{{ ex.sub_division_ru }}</span>
                                                            </li>
                                                            <li>
                                                                <strong>{% trans 'Experience address' %}:</strong>
                                                                <span>{{ ex.address_ru }}</span>
                                                            </li>
                                                            <li class="files-view">
                                                                {% for file in ex.file.all %}
                                                                    <ul class="files-view__main">
                                                                        <li>
                                                                            <a data-fancybox href="{{ file.file.url }}"><i class="fa fa-file" aria-hidden="true"></i>{{ file.file.name }}</a>
                                                                            <span>{{ file.file.size|filesizeformat }}</span>
                                                                        </li>
                                                                    </ul>
                                                                {% endfor %}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="opView-buttons">
                                <a href="{% url 'root.employee.update.3' employee.id %}" class="opView-edit_button">{% trans 'Edit' %}</a>
                                <a href="{% url 'root.employee.translation.3' employee.id %}" class="opView-edit_button">{% trans 'Translate' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab4">
                        <div class="tab-opView__main">
                            <div class="opView-title">
                                <h2>{% trans 'Operator' %} 4</h2>
                            </div>
                            <div class="opView-content">
                                <ul>
                                    <li>
                                        <strong>{% trans 'Desired countries' %}:</strong>
                                        <span>{{ employee.get_countries_list }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Wages' %}:</strong>
                                        <span>{{ employee.wages }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Ready for university' %}:</strong>
                                        <span>{{ employee.get_is_ready_for_universitet_display }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Criminal number' %}:</strong>
                                        <span>{{ employee.criminal_number }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Criminal issue' %}:</strong>
                                        <span>{{ employee.criminal_issue|date:'d.m.Y' }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Criminal comment' %}:</strong>
                                        <span>{{ employee.criminal_comment_ru }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Spec. signs' %}:</strong>
                                        <span>{{ employee.add_spec_signs_ru }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Hobby' %}:</strong>
                                        <span>{{ employee.hobby_ru }}</span>
                                    </li>
                                    <li>
                                        <strong>{% trans 'Other' %}:</strong>
                                        <span>{{ employee.other_ru }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="opView-buttons">
                                <a href="{% url 'root.employee.update.4' employee.id %}" class="opView-edit_button">{% trans 'Edit' %}</a>
                                <a href="{% url 'root.employee.translation.4' employee.id %}" class="opView-edit_button">{% trans 'Translate' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="opView-images">
                <div class="opView-images__block">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="opView-images__item">
                                <a href="#">
                                    {% thumbnail employee.photo_1 "236x276" crop="center" as im %}
                                        <a data-fancybox href="{{ employee.photo_1.url }}">
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                                        </a>
                                    {% endthumbnail %}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="opView-images__item">
                                <a href="#">
                                    {% thumbnail employee.photo_2 "236x276" crop="center" as im %}
                                        <a data-fancybox href="{{ employee.photo_2.url }}">
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                                        </a>
                                    {% endthumbnail %}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="opView-images__item">
                                <a href="#">
                                    {% thumbnail employee.photo_3 "236x276" crop="center" as im %}
                                        <a data-fancybox href="{{ employee.photo_3.url }}">
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                                        </a>
                                    {% endthumbnail %}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="opView-images__item">
                                <a href="#">
                                    {% thumbnail employee.photo_4 "236x276" crop="center" as im %}
                                        <a data-fancybox href="{{ employee.photo_4.url }}">
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                                        </a>
                                    {% endthumbnail %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox-animated-inline">
                                <input id="employedCheck" type="checkbox" data-id="{{ employee.id }}" data-url="{% url 'api:admin:employer:employee-make-busy' %}" {% if employee.busy %}checked{% endif %}>
                                <label for="employedCheck">
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    {% trans 'Employed' %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $("#employedCheck").change(function (event) {

                let employee_id = $(this).data('id');

                let formData = new FormData();
                formData.append('employee_id', employee_id);

                $.ajax({
                    url: $(this).data('url'),
                    processData: false,
                    contentType: false,
                    data: formData,
                    method: 'POST',
                    success: function (data) {
                        console.log('success');
                    },
                    error: function (data) {
                        console.log('error');
                    }
                });
            });
        })
    </script>
{% endblock %}
