{% extends 'root/_base.html' %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'operator/magnific-popup/magnific-popup.css' %}">
{% endblock %}

{% block content %}
<div class="content-title">
    <h2>{% trans 'Search employees' %}</h2>
</div>
<div class="card-main">
    <div class="card-main__header">
        <h2>{% trans 'History of sent SMS/Email messages' %}</h2>
    </div>
    <div class="card-main__content">
        <div class="search-results__main">
            <form>
                <div class="table-main" style="padding-top: 50px;"> 
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-row" data-href="#">
                                <th class="td-check"></th>
                                <th class="td-id">№</th>
                                <th class="td-title">{% trans 'Title' %}</th>
                                <th class="td-message-text">{% trans 'Message text' %}</th>
                                <th class="td-sent-date">{% trans 'Sent date' %}</th>
                                <th class="td-group">{% trans 'Group' %}</th>
                                <th class="td-type">{% trans 'Type' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for history in histories %}
                                <tr class="table-row" data-id="{{ history.id }}">
                                    <td class="td-checkbox td-check" >
                                        <input class="deleteCheck" type="checkbox" data-id="{{history.id}}" name="ids" >
                                    </td>
                                    <td class="td-id">{{ history.id }}</td>
                                    <td class="td-title">{{ history.title }}</td>
                                    <td class="td-message-text">{{ history.text }}</td>
                                    <td class="td-sent-date">{{ history.sent_date|date:"H:i d.m.Y" }}</td>
                                    {% if history.ispartner %}
                                        <td class="td-group">Partner</td>
                                    {% else %}
                                        <td class="td-group">Employee</td>
                                    {% endif %}
                                    <td class="td-type">{{ history.message_type }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if is_paginated %}
                        <div class="pagination-main">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo;</a></li>
                                {% else %}
                                    <li><span class="disabled prev">&lsaquo;&lsaquo;</span></li>
                                {% endif %}
                                {% for page in page_obj.pages %}
                                    {% if page %}
                                        {% ifequal page page_obj.number %}
                                            <li><span class="current page">{{ page }}</span></li>
                                        {% else %}
                                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% else %}
                                        ...
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?{{ page_obj.next_page_number.querystring }}" class="next">&rsaquo;&rsaquo;</a></li>
                                {% else %}
                                    <li><span class="disabled next">&rsaquo;&rsaquo;</span></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="delete-buttons">
                    <button id="deleteEmpButton" data-url="{% url 'api:admin:template:template_history.delete' %}">{% trans 'Delete' %}</button>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var deleteButton = document.querySelector("#deleteEmpButton")
            deleteButton.addEventListener('click', (event) => {
                event.preventDefault()
                
                var formData = new FormData()

                var delData = jQuery(".table tr:not(.header) td input:checked").map(function() {
                    return jQuery(this).closest("tr").data("id")
                }).get()

                result = window.confirm("{% trans 'Do you really want to delete?' %}")
                if (result) {
                    formData.append("ids", delData)
                    $.ajax({
                        url: deleteButton.dataset.url,
                        method: 'DELETE',
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (data) {
                            location.reload()
                        },
                        error: function (data) {

                        }
                    });
                }
                
            })
        })
    </script>
{% endblock %}