{% extends 'root/_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="content-title">
        <h2>{% trans 'Operator groups' %}</h2>
    </div>
    <div class="card-main">
        <div class="card-main__header">
            <h2>{% trans 'Filter' %}</h2>
        </div>
        <div class="card-main__content">
            <div class="search-form__app">
                <form>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">{% trans 'Group name' %}</label>
                            <input name="" type="text" class="form-control" id="">
                        </div>
                    </div>
                    <div class="col-md-2"> <!-- TODO city select -->
                        <div class="form-group">
                            <label for="milRegion1">{% trans 'Region' %}</label>
                            <select class="form-control selectpicker show-tick" name="mil_region_1" id="milRegion1">
                                <option value="">{% trans 'Select' %}</option>
                                <option value="Ташкент">Ташкент</option>
                                <option value="Ташкентская область">Ташкентская область</option>
                                <option value="Каракалпакстан">Каракалпакстан</option>
                                <option value="Андижанская область">Андижанская область</option>
                                <option value="Джизакская область">Джизакская область</option>
                                <option value="Кашкадарьинская область">Кашкадарьинская область</option>
                                <option value="Наваинйская область">Наваинйская область</option>
                                <option value="Наманганская область">Наманганская область</option>
                                <option value="Самаркандская область">Самаркандская область</option>
                                <option value="Сурхандарьинская область">Сурхандарьинская область</option>
                                <option value="Сырдарьинская область">Сырдарьинская область</option>
                                <option value="Ферганская область">Ферганская область</option>
                                <option value="Хорезмская область">Хорезмская область</option>
                                <option value="Бухарская область">Бухарская область</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="milRegion1">{% trans 'District' %}</label>
                            <select class="form-control selectpicker show-tick" name="mil_region_1" id="milRegion1">
                                <option value="">{% trans 'Select' %}</option>
                                <option value="Ташкент">Ташкент</option>
                                <option value="Ташкентская область">Ташкентская область</option>
                                <option value="Каракалпакстан">Каракалпакстан</option>
                                <option value="Андижанская область">Андижанская область</option>
                                <option value="Джизакская область">Джизакская область</option>
                                <option value="Кашкадарьинская область">Кашкадарьинская область</option>
                                <option value="Наваинйская область">Наваинйская область</option>
                                <option value="Наманганская область">Наманганская область</option>
                                <option value="Самаркандская область">Самаркандская область</option>
                                <option value="Сурхандарьинская область">Сурхандарьинская область</option>
                                <option value="Сырдарьинская область">Сырдарьинская область</option>
                                <option value="Ферганская область">Ферганская область</option>
                                <option value="Хорезмская область">Хорезмская область</option>
                                <option value="Бухарская область">Бухарская область</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="search-buttons">
                            <div class="form-search__button" id="">
                                <button id="" type="submit">{% trans 'Search' %}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="float: right;text-align: right">
                        <div class="add-buttons">
                            <div class="deletePart-buttons">
                                <button id="deletePGroupButton" data-url="{% url 'api:admin:operator:operator-group.delete' %}">{% trans 'Delete' %}</button>
                            </div>
                            <div class="form-add__button" id="">
                                <a href="{% url 'root.operator.group.create' %}">{% trans 'Add' %}</a>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>

            <div class="search-results__main">
                <div class="table-main">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="table-row" data-href="#">
                            <th class="td-check"></th>
                            <th class="td-id">№</th>
                            <th class="td-name">{% trans 'Group name' %}</th>
                            <th class="td-region">{% trans 'Region' %}</th>
                            <th class="td-operator">{% trans 'Operator' %} 1</th>
                            <th class="td-operator">{% trans 'Operator' %} 2</th>
                            <th class="td-operator">{% trans 'Operator' %} 3</th>
                            <th class="td-operator">{% trans 'Operator' %} 4</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr class="table-row" data-id="{{ group.id }}" data-href="{% url 'root.operator.group.detail' group.id %}">
                                <td class="td-checkbox td-check" >
                                    <input class="deleteCheck" type="checkbox" data-id="{{group.id}}" name="ids" >
                                </td>
                                <td class="td-id">{{ group.id }}</td>
                                <td class="td-name">{{ group.group_name }}</td>
                                <td class="td-region">{{ group.district }}</td>
                                <td class="td-operator">{{ group.operator1.fullname }}</td>
                                <td class="td-operator">{{ group.operator2.fullname }}</td>
                                <td class="td-operator">{{ group.operator3.fullname }}</td>
                                <td class="td-operator">{{ group.operator4.fullname }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if is_paginated %}
                        <div class="pagination-main">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo;</a></li>
                                {% else %}
                                    <li><span class="disabled prev">&lsaquo;&lsaquo;</span></li>
                                {% endif %}
                                {% for page in page_obj.pages %}
                                    {% if page %}
                                        {% ifequal page page_obj.number %}
                                            <li><span class="current page">{{ page }}</span></li>
                                        {% else %}
                                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% else %}
                                        ...
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?{{ page_obj.next_page_number.querystring }}" class="next">&rsaquo;&rsaquo;</a></li>
                                {% else %}
                                    <li><span class="disabled next">&rsaquo;&rsaquo;</span></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {

            $("#deletePGroupButton").click(function (e) {
                e.preventDefault();

                let formData = new FormData();
                let url = $(this).data("url");

                var myDeldata = jQuery(".table tr:not(.header) td input:checked").map(function() {
                    return jQuery(this).closest("tr").data("id");
                        }).get();

                result = window.confirm("{% trans 'Do you really want to delete?' %}");

                if(result){
                    console.log(myDeldata);
                    formData.append("ids", myDeldata);
                    $.ajax({
                        url: url,
                        processData: false,
                        contentType: false,
                        data: formData,
                        method: 'POST',
                        success: function (data) {
                            location.reload();
                        },
                        error: function (data) {

                        }
                    });
                }else{

                }

            });

        });
    </script>
    <script src="{% static 'operator/js/root/search.js' %}"></script>
{% endblock %}
