{% extends 'root/_base.html' %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'operator/chosen_v1.8.7/chosen.min.css' %}">
{% endblock %}

{% block content %}
    <div class="content-title">
        <h2>{% trans 'Change employee' %} </h2>
        <span>№: {{ employee.register_number }}</span>
    </div>
    <div class="card-main">
        <div class="card-main__header">
            <h2>{% trans 'Personal card' %}</h2>
        </div>
        <div class="card-main__content">
            <form id="formOperator4">
                <div class="col-md-3">
                    <div class="operator4-col">
                        <div class="form-title">
                            <h2>{% trans 'Countries' %}</h2>
                        </div>
                        <div class="operator4-item">
                            <div class="form-group">
                                <div id="outputChoose"></div>
                                <select data-placeholder="{% trans 'Select' %}..." name="des_countries" multiple class="chosen-select">
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if country.id in emp_countries %}selected{% endif %}>{{ country.name_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="operator4-col">
                        <div class="form-title">
                            <h2>{% trans 'Wages' %}</h2>
                        </div>
                        <div class="operator4-item">
                            <div class="form-group radio-form">
                                <div class="radio-group">
                                    <input type="radio" id="wages0" name="wages" value="500" {% if employee.wages == "500" %}checked{% endif %}>
                                    <label for="wages0">
                                        <span>{% trans 'Less than 500$' %}</span>
                                    </label>
                                </div>
                                <div class="radio-group">
                                    <input type="radio" id="wages1" name="wages" value="500-1000" {% if employee.wages == "500-1000" %}checked{% endif %}>
                                    <label for="wages1">
                                        <span>{% trans '500$-1000$' %}</span>
                                    </label>
                                </div>
                                <div class="radio-group">
                                    <input type="radio" id="wages2" name="wages" value="1000-1500" {% if employee.wages == "1000-1500" %}checked{% endif %}>
                                    <label for="wages2">
                                        <span>{% trans '1000$-1500$' %}</span>
                                    </label>
                                </div>
                                <div class="radio-group">
                                    <input type="radio" id="wages3" name="wages" value="1500-2000" {% if employee.wages == "1500-2000" %}checked{% endif %}>
                                    <label for="wages3">
                                        <span>{% trans '1500$-2000$' %}</span>
                                    </label>
                                </div>
                                <div class="radio-group">
                                    <input type="radio" id="wages4" name="wages" value="2500" {% if employee.wages == "2500" %}checked{% endif %}>
                                    <label for="wages4">
                                        <span>{% trans '2500$ more' %}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-title">
                            <h2>{% trans 'Ready for university' %}</h2>
                        </div>
                        <div class="operator4-item">
                            <div class="form-group radio-form">
                                <div class="radio-group"  style="float: left;">
                                    <input type="radio" id="to_university1" name="to_university" value="true" {% if employee.is_ready_for_university %}checked{% endif %}>
                                    <label for="to_university1">
                                        <span>{% trans 'Yes' %}</span>
                                    </label>
                                </div>
                                <div class="radio-group"  style="float: left;">
                                    <input type="radio" id="to_university2" name="to_university" value="false" {% if not employee.is_ready_for_university %}checked{% endif %}>
                                    <label for="to_university2">
                                        <span>{% trans 'No' %}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="operator4-col">
                        <div class="form-title">
                            <h2>{% trans 'Criminal issues' %}</h2>
                        </div>
                        <div class="operator4-item">
                            <div class="form-group">
                                <label for="criminalNumber">{% trans 'Criminal number' %}</label>
                                <input name="criminal_number" type="text" class="form-control" id="criminalNumber" required  value="{{ employee.criminal_number }}">
                            </div>
                            <div class="form-group">
                                <label for="criminalIssue">{% trans 'Criminal date' %}</label>
                                <input name="criminal_issue" autocomplete="off" type="text" class="datepickerFrom form-control" data-date-format="dd.mm.yyyy" id="criminalIssue" required value="{{ employee.criminal_issue|date:'d.m.Y' }}">
                            </div>
                            <div class="form-group">
                                <label for="criminalComment">{% trans 'Comment' %} <i>({% trans 'not required' %})</i></label>
                                    <textarea name="criminal_comment" rows="5" class="form-control" id="criminalComment">{{ employee.criminal_comment_ru }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="operator4-col">
                        <div class="form-title">
                            <h2>{% trans 'Additional info' %}</h2>
                        </div>
                        <div class="operator4-item">
                            <div class="form-group">
                                <label for="addSpecSigns">{% trans 'Spec. signs' %} <i>({% trans 'not required' %})</i></label>
                                <input name="add_spec_signs" type="text" class="form-control" id="addSpecSigns" value="{{ employee.add_spec_signs_ru }}">
                            </div>
                            <div class="form-group">
                                <label for="hobby">{% trans 'Hobby' %} <i>({% trans 'not required' %})</i></label>
                                <input name="hobby" type="text" class="form-control" id="hobby" value="{{ employee.hobby_ru }}">
                            </div>
                            <div class="form-group">
                                <label for="other">{% trans 'Other' %} <i>({% trans 'not required' %})</i></label>
                                    <textarea name="other" rows="5" class="form-control" id="other">{{ employee.other_ru }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="operator4-col__psixolog">
                        <div class="form-title">
                            <h2>{% trans 'Psycholog score' %}</h2>
                        </div>
                        <div class="form-group radio-form">
                            <div class="radio-group">
                                <input type="radio" id="psixolog5" name="psixolog" value="5" {% if employee.psycholog == 5 %}checked{% endif %}>
                                <label for="psixolog5">
                                    <span>5</span>
                                </label>
                            </div>
                            <div class="radio-group">
                                <input type="radio" id="psixolog6" name="psixolog" value="6" {% if employee.psycholog == 6 %}checked{% endif %}>
                                <label for="psixolog6">
                                    <span>6</span>
                                </label>
                            </div>
                            <div class="radio-group">
                                <input type="radio" id="psixolog7" name="psixolog" value="7" {% if employee.psycholog == 7 %}checked{% endif %}>
                                <label for="psixolog7">
                                    <span>7</span>
                                </label>
                            </div>
                            <div class="radio-group">
                                <input type="radio" id="psixolog8" name="psixolog" value="8" {% if employee.psycholog == 8 %}checked{% endif %}>
                                <label for="psixolog8">
                                    <span>8</span>
                                </label>
                            </div>
                            <div class="radio-group">
                                <input type="radio" id="psixolog9" name="psixolog" value="9" {% if employee.psycholog == 9 %}checked{% endif %}>
                                <label for="psixolog9">
                                    <span>9</span>
                                </label>
                            </div>
                            <div class="radio-group">
                                <input type="radio" id="psixolog10" name="psixolog" value="10" {% if employee.psycholog == 10 %}checked{% endif %}>
                                <label for="psixolog10">
                                    <span>10</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="operator4-col__psixolog">
                        <div class="form-title">
                            <h2>{% trans 'Level' %}</h2>
                        </div>
                        <div class="form-group radio-form">
                            <div class="radio-group">
                                <input type="radio" id="student" name="level" value="is_student" {% if employee.is_student %}checked{% endif %}>
                                <label for="student">
                                    <span>{% trans 'Student' %}</span>
                                </label>
                            </div>
                            <div class="radio-group">
                                <input type="radio" id="youthTalent" name="level" value="is_youth_talent" {% if employee.is_youth_talent %}checked{% endif %}>
                                <label for="youthTalent">
                                    <span>{% trans 'Young talent' %}</span>
                                </label>
                            </div>
                            <div class="radio-group">
                                <input type="radio" id="isEmployee" name="level" value="is_employee" {% if employee.is_employee %}checked{% endif %}>
                                <label for="isEmployee">
                                    <span>{% trans 'Employee' %}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-title">
                        <h2  style="font-size: 22px; color: #0f87ff; margin: 0 0 15px 15px;font-family: Rubik-Medium, Geometria-Medium, sans-serif;">Отпечатка палцев</h2>
                    </div>
                    <div class="finger-print">
                        <div class="finger-image" style="background-image: url('');">
                            <input id="fingerPrint" type="hidden" value="">
                        </div>
                    </div>
                </div>
                <div class="form-send__buttons">
                    <div class="form-send__button" id="form4SendButton">
                        <button id="root-employee-update4" data-url="{% url 'api:admin:employee:4.update' employee.id %}" type="submit">{% trans 'Save' %}</button>
                    </div>
                    <div class="form-reset__buttton">
                        <button type="reset">{% trans 'Clear' %}</button>
                    </div>
                </div>
            </form>
            <!--<div class="holder">
                <div class="preloader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>-->
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'operator/chosen_v1.8.7/chosen.jquery.js' %}"></script>
    <script>
        /*document.getElementById('outputChoose').innerHTML = location.search;*/
        $(".chosen-select").chosen();
    </script>
    <script>
        var scanCheck = false;
        $(function(){
            var wsurl = 'wss://localhost:8383/';
            var ws = new WebSocket(wsurl);
            ws.onopen = function (data) {
                var x = document.getElementById("wsSuccess")
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }
            ws.onerror = function(){
                var x = document.getElementById("wsError")
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
            }

            ws.onmessage = function(e) {
                var data = e.data;
                //console.log(e.data);
                var image = new Image();
                base64_string = 'data:image/jpg;base64,'+e.data;
                image.src = 'data:image/jpg;base64,'+e.data;

                $('.finger-image').css('background-image', 'url('+image.src +')');
                $('#fingerPrint').attr("value", image.src);

                //document.body.appendChild(image);
                /*const url = base64_string;
                fetch(url)
                    .then(res => res.blob())
                    .then(blob => {
                        file = new File([blob], "photo", {type: 'image/jpeg'});
                        // $("#photo_1ID").files[0];
                        console.log(file);
                    });*/
            }
        })
    </script>
    <script src="{% static 'operator/js/employee_update/op4.js' %}"></script>

{% endblock %}
