{% extends 'site/_base.html' %}
{% load static %}
{% load i18n %}

{% block css %}

{% endblock %}
{% block content %}
    <section class="banner-menu__top" style="background-image: url('{% static 'site/images/OПартнеры.png' %}')">
        <h2>О компании</h2>
    </section>
    <section class="about-page">
        <div class="container">
            <div class="row">
                <div class="about-page__main">
                    <div class="about-page__item">
                        <div class="about-item__image">
                            <div class="about-item__imagebg">

                            </div>
                            <div class="about-item__image-on">
                                <img src="{% static 'site/images/about1.jpg' %}" alt="">
                            </div>
                        </div>
                        <h2>National Сenter for Development </h2>
                        <p>Наша компания National Сenter for Development (NCD) -  быстроразвивающаяся, позволяющая эффективно использовать трудовые ресурсы мигрантов и направлять их в соответствии с их квалификацией в те страны и те организации, где они наилучшим образом смогут применить свои навыки и знания.</p>
                        <p>Мы оказываем квалифицированную помощь трудовым мигрантам Республики Узбекистан и других стран Центральной Азии, желающим найти работу за рубежом, включая посильное содействие в процессе языковой адаптации в другой стране.</p>
                    </div>
                    <div class="about-page__item">
                        <div class="about-item__image">
                            <div class="about-item__imagebg">

                            </div>
                            <div class="about-item__image-on">
                                <img src="{% static 'site/images/about1.jpg' %}" alt="">
                            </div>
                        </div>
                        <h2>Наша миссия</h2>
                        <p>Наша компания National Сenter for Development (NCD) -  быстроразвивающаяся, позволяющая эффективно использовать трудовые ресурсы мигрантов и направлять их в соответствии с их квалификацией в те страны и те организации, где они наилучшим образом смогут применить свои навыки и знания.</p>
                        <p>Мы оказываем квалифицированную помощь трудовым мигрантам Республики Узбекистан и других стран Центральной Азии, желающим найти работу за рубежом, включая посильное содействие в процессе языковой адаптации в другой стране.</p>
                    </div>
                    <div class="about-page__item">
                        <div class="about-item__image">
                            <div class="about-item__imagebg">

                            </div>
                            <div class="about-item__image-on">
                                <img src="{% static 'site/images/about1.jpg' %}" alt="">
                            </div>
                        </div>
                        <h2>National Сenter for Development </h2>
                        <p>Наша компания National Сenter for Development (NCD) -  быстроразвивающаяся, позволяющая эффективно использовать трудовые ресурсы мигрантов и направлять их в соответствии с их квалификацией в те страны и те организации, где они наилучшим образом смогут применить свои навыки и знания.</p>
                        <p>Мы оказываем квалифицированную помощь трудовым мигрантам Республики Узбекистан и других стран Центральной Азии, желающим найти работу за рубежом, включая посильное содействие в процессе языковой адаптации в другой стране.</p>
                    </div>
                    <div class="about-page__item">
                        <div class="about-item__image">
                            <div class="about-item__imagebg">

                            </div>
                            <div class="about-item__image-on">
                                <img src="{% static 'site/images/about1.jpg' %}" alt="">
                            </div>
                        </div>
                        <h2>National Сenter for Development </h2>
                        <p>Наша компания National Сenter for Development (NCD) -  быстроразвивающаяся, позволяющая эффективно использовать трудовые ресурсы мигрантов и направлять их в соответствии с их квалификацией в те страны и те организации, где они наилучшим образом смогут применить свои навыки и знания.</p>
                        <p>Мы оказываем квалифицированную помощь трудовым мигрантам Республики Узбекистан и других стран Центральной Азии, желающим найти работу за рубежом, включая посильное содействие в процессе языковой адаптации в другой стране.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

<script>

</script>

{% endblock %}