{% extends 'site/_base.html' %}
{% load static %}
{% load i18n %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="banner-menu__top" style="background-image: url('{% static 'site/images/Образование.png' %}')">
        <h2>Образование в Японии</h2>
    </section>
    <section class="edu_detail">
        <div class="container">
            <div class="row">
                <div class="edu-text">
                    <p>Япония считается самой развитой страной в сфере технологий. В связи с этим, образование в Японии — это главная цель в жизни
                        жителей страны с самого раннего возраста. Детей обучают и готовят к получению знаний в своей стране с детского сада.
                        И подготовка проходит очень интенсивно. Ранее Япония всегда была закрыта к приему иностранных студентов из-за своих
                        самобытных традиций и сложного языка. В наши дни ситуация уже изменилась, тысячи студентов из разных стран проходят обучение
                        в Японии и крайне довольны результатами.</p>
                </div>
                <div class="edu-container">
                    <h2>Профессиональная помощь при поступлении</h2>
                    <p>Наши давние партнеры, компания Motivationletter.kz, специализируется на содействии в получении образования за рубежом.
                        Многие университеты требуют подачи мотивационного письма (эссе), а также других специализированных документов, которые не распространены
                        для подачи в вузах нашей страны. Часто студентам требуется помощь профессионала для того, чтобы его знания были оценены по достоинству.</p>
                    <div class="student-help">
                        <h2>Они оказывают квалифицированную помощь студентам:</h2>
                        <ul>
                            <li>
                                <span>1.</span>
                                В поступлении в зарубежные вузы (бакалавриат, магистратуру, докторантуру)
                            </li>
                            <li>
                                <span>2.</span>
                                В получении финансовой помощи
                            </li>
                            <li>
                                <span>3.</span>
                                В победах в государственных стипендиальных программах
                            </li>
                        </ul>
                        <p class="extra-text">Кроме этого, компания организует подбор программ по повышению профессиональной квалификации. </p>
                    </div>
                    <div class="edu-plan">
                        <h2>Работа проводится по следующему плану: </h2>
                        <div class="edu-plan__block">
                            <ul>
                                <li><span>1.</span>
                                    Личная консультация кандидата, где оценивается потенциал будущего студента
                                </li>
                                <li><span>2.</span>
                                    Подбор программы, университета и страны
                                </li>
                                <li><span>3.</span>
                                    Организация процесса поступления в желаемый ВУЗ от начала до конца (подача онлайн заявки, написание мотивационного и рекомендательного письма,
                                    подготовка к интервью с университетом)
                                </li>
                                <li><span>4.</span>
                                    Организация процесса подачи документов на оказание финансовой помощи
                                </li>
                                <li><span>5.</span>
                                    Помощь в поступлении на правительственные стипендиальные программы
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="edu-services">
                    <div class="title">
                        <h2>Доступные услуги</h2>
                    </div>
                    <div class="row-main">
                        <div class="edu-service__col">
                            <div class="edu-service__item">
                                <h2>Пакет <br>"Basic Admission Package"</h2>
                                <span>100$</span>
                                <ul>
                                    <li>Написание одного мотивационного письма</li>
                                    <li>Написание двух рекомендательных писем</li>
                                    <li>Помощь в подготовке необходимых
                                            документов для поступления</li>
                                </ul>
                            </div>
                        </div>
                        <div class="edu-service__col">
                            <div class="edu-service__item">
                                <h2>Пакет <br>"Basic Admission Package"</h2>
                                <span>100$</span>
                                <ul>
                                    <li>Написание одного мотивационного письма</li>
                                    <li>Написание двух рекомендательных писем</li>
                                    <li>Помощь в подготовке необходимых
                                            документов для поступления</li>
                                </ul>
                            </div>
                        </div>
                        <div class="edu-service__col">
                            <div class="edu-service__item">
                                <h2>Пакет <br>"Basic Admission Package"</h2>
                                <span>100$</span>
                                <ul>
                                    <li>Написание одного мотивационного письма</li>
                                    <li>Написание двух рекомендательных писем</li>
                                    <li>Помощь в подготовке необходимых
                                            документов для поступления</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

<script>

</script>

{% endblock %}