{% extends 'site/_base.html' %}
{% load static %}
{% load i18n %}

{% block css %}

{% endblock %}
{% block content %}
    <section class="banner-menu__top" style="background-image: url('{% static 'site/images/Услуги.png' %}')">
        <h2>Услуги</h2>
    </section>
    <section class="services-main">
        <div class="container">
            <div class="row">
                <div class="service-text">
                    <p>Наша компания предоставляет перечень всех необходимых услуг, которые потребуются для успешного достижения цели,
                            а именно организации трудоустройства кандидата за рубежом.
                        </p>
                    <p>Какую бы страну не выбрал соискатель, будь то Германия, Австралия, США, Польша, Англия, Швеция, Чехия, ему необходимо
                            будет пройти ряд обязательных процедур для успешного достижения цели.
                        </p>
                </div>
                <div class="services">
                    <div class="row-main">
                        <div class="service-col">
                            <div class="service-item">
                                <a href="#">
                                    <div class="service-item__image">
                                        <img src="{% static 'site/images/База данных заявителей.svg' %}" alt="">
                                    </div>
                                    <div class="service-item__content">
                                        <h2>База данных заявителей</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type settngdtry.</p>
                                    </div>
                                    <div class="service-counter">
                                        01
                                    </div>
                                    <!-- <div class="service-item__read">
                                        <a href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div> -->
                                </a>
                            </div>
                        </div>
                        <div class="service-col">
                            <div class="service-item">
                                <a href="#">
                                    <div class="service-item__image">
                                        <img src="{% static 'site/images/Профиль кандидата.svg' %}" alt="">
                                    </div>
                                    <div class="service-item__content">
                                        <h2>Профиль кандидата</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type settngdtry.</p>
                                    </div>
                                    <div class="service-counter">
                                        02
                                    </div>
                                    <!-- <div class="service-item__read">
                                        <a href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div> -->
                                </a>
                            </div>
                        </div>
                        <div class="service-col">
                            <div class="service-item">
                                <a href="#">
                                    <div class="service-item__image">
                                        <img src="{% static 'site/images/Гарантийное соглашение.svg' %}" alt="">
                                    </div>
                                    <div class="service-item__content">
                                        <h2>Гарантийное соглашение</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type settngdtry.</p>
                                    </div>
                                    <div class="service-counter">
                                        03
                                    </div>
                                    <!-- <div class="service-item__read">
                                        <a href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div> -->
                                </a>
                            </div>
                        </div>
                        <div class="service-col">
                            <div class="service-item">
                                <a href="#">
                                    <div class="service-item__image">
                                        <img src="{% static 'site/images/Трудовое соглашение.svg' %}" alt="">
                                    </div>
                                    <div class="service-item__content">
                                        <h2>Трудовое соглашение</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type settngdtry.</p>
                                    </div>
                                    <div class="service-counter">
                                        04
                                    </div>
                                    <!-- <div class="service-item__read">
                                        <a href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div> -->
                                </a>
                            </div>
                        </div>
                        <div class="service-col">
                            <div class="service-item">
                                <a href="#">
                                    <div class="service-item__image">
                                        <img src="{% static 'site/images/Подготовка к отъезду.svg' %}" alt="">
                                    </div>
                                    <div class="service-item__content">
                                        <h2>Подготовка к отъезду</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type settngdtry.</p>
                                    </div>
                                    <div class="service-counter">
                                        05
                                    </div>
                                    <!-- <div class="service-item__read">
                                        <a href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div> -->
                                </a>
                            </div>
                        </div>
                        <div class="service-col">
                            <div class="service-item">
                                <a href="#">
                                    <div class="service-item__image">
                                        <img src="{% static 'site/images/Отправка.svg' %}" alt="">
                                    </div>
                                    <div class="service-item__content">
                                        <h2>Отправка</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type settngdtry.</p>
                                    </div>
                                    <div class="service-counter">
                                        06
                                    </div>
                                    <!-- <div class="service-item__read">
                                        <a href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div> -->
                                </a>
                            </div>
                        </div>
                        <div class="service-col">
                            <div class="service-item">
                                <a href="#">
                                    <div class="service-item__image">
                                        <img src="{% static 'site/images/Услуги после факта трудоустройства.svg' %}" alt="">
                                    </div>
                                    <div class="service-item__content">
                                        <h2>Услуги после факта трудоустройства</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type settngdtry.</p>
                                    </div>
                                    <div class="service-counter">
                                        07
                                    </div>
                                    <!-- <div class="service-item__read">
                                        <a href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div> -->
                                </a>
                            </div>
                        </div>
                        <div class="service-col">
                            <div class="service-item">
                                <a href="#">
                                    <div class="service-item__image">
                                        <img src="{% static 'site/images/Предоставление обучения.svg' %}" alt="">
                                    </div>
                                    <div class="service-item__content">
                                        <h2>Предоставление обучения</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type settngdtry.</p>
                                    </div>
                                    <div class="service-counter">
                                        08
                                    </div>
                                    <!-- <div class="service-item__read">
                                        <a href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                    </div> -->
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="services-agree">
                    <div class="container">
                        <div class="row-main">
                            <div class="services-agree__col">
                                <div class="services-agree__item">
                                    <h2>Гарантийное соглашение</h2>
                                    <p>В некоторых случаях мы составляем гарантийное соглашение с лицом,
                                            являющимся гарантом соискателя. Если такая необходимость присутствует, то
                                            мы обязательно уведомляем об этом соискателя при собеседовании.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

<script>

</script>

{% endblock %}