{% extends 'site/_base.html' %}
{% load static %}
{% load i18n %}

{% block css %}

{% endblock %}
{% block content %}
    <section class="banner-menu__top" style="background-image: url('images/Партнеры.png')">
        <h2>Партнеры</h2>
    </section>
    <section class="to_partners">
        <div class="container">
            <div class="row">
                <div class="to_partners-main">
                    <div class="to_partners-image">
                        <div class="to_partners-image__bg">

                        </div>
                        <div class="to_partners-image__on">
                            <img src="{% static 'site/images/logo.svg' %}" alt="">
                        </div>
                    </div>
                    <h2>National Сenter for Development </h2>
                    <p>Наша компания National Сenter for Development (NCD) -  быстроразвивающаяся, позволяющая эффективно использовать трудовые ресурсы мигрантов и направлять их в соответствии с их квалификацией в те страны и те организации, где они наилучшим образом смогут применить свои навыки и знания.</p>
                    <p>Мы оказываем квалифицированную помощь трудовым мигрантам Республики Узбекистан и других стран Центральной Азии, желающим найти работу за рубежом, включая посильное содействие в процессе языковой адаптации в другой стране.</p>
                    <p>Наша миссия – это стремление стать самой успешной и этичной компанией по трудоустройству иностранных работников, а также быть мостом для повышения грамотности и развития образования на рынке труда Узбекистана, путем применения инновационных решений</p>
                    <p>Нами придумана и внедряется инновационная платформа Manpower scoring system (MSS), позволяющая централизованно хранить, проводить отбор, оценивать
                            квалификацию кадровых ресурсов для заинтересованных компаний и партнеров как внутри Республики Узбекистан, так и за рубежом. Идея такой системы ранее не
                            применялась и не использовалась в Республике Узбекистан. </p>
                    <p>Согласно нашей задумке, MSS позволяет собирать и систематизировать данные обо всех кандидатах, обращающихся к нам и желающих работать за рубежом.
                            Информация о кандидате содержит сведения, касающиеся образования, владения языками, опыта работы, личных данных, а также некие оценочные данные о
                            заявителе, позволяющие характеризовать его с психологической точки зрения, готовности к трудоустройству в другой стране.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

<script>

</script>

{% endblock %}