{% extends 'site/_base.html' %}
{% load static %}
{% load i18n %}
{% load get_json_value %}

{% block css %}

{% endblock %}
{% block content %}
    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="profile-main">
                    <div class="content-title">
                        <h2>Личный кабинет Партнеров</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-side">
                                <div class="profile-side__title">
                                    <h2>Личный кабинет</h2>
                                </div>
                                <nav class="nav_personal d-lnk-txt">
                                    <ul>
                                        <li class="current">
                                            <a href="#"><i class="fa fa-user"></i> Мой профиль</a>
                                        </li>
                                        <li class="">
                                            <a href="{% url 'site:partner.employees' %}"><i class="fa fa-list"></i> Список апликантов</a>
                                        </li>
                                        <li class="">
                                        <a href="{% url 'site:partner.bookmarks' %}"><i class="fa fa-list"></i> Мой список</a></li>
                                        <li class="">

                                    </ul>
                                    <div class="nav_personal__footer">
                                        <a href="#"> Выйти</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="personal-data__form">
                                            <form action="">
                                                <div class="form-title">
                                                    <h2>Личные данные {% json_value partner 'new_field' 'current' %}</h2>
                                                </div>
                                                <div class="form-data">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="bossFullName">Ф.И.О (первого руководителя)</label>
                                                                <input name="boss_fullname" type="text" class="form-control" id="bossFullName" value="Murod">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="personName">Ф.И.О (ответственного лица)</label>
                                                                <input name="person_fullname_for_hiring" type="text" class="form-control" id="personName" value="Urakov">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="phone">Телефон</label>
                                                                <input name="phone" type="text" class="form-control" id="phone" value="+998-99-307-0004">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="email">Э-почта
                                                                    </label>
                                                                <input name="email" type="email" class="form-control" id="email" value="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="companyName">Название субъекта</label>
                                                                <input name="company_name" type="text" class="form-control" autocomplete="off" id="companyName" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="col">Количество работников организации</label>
                                                                <input name="workers_amount" type="number" class="form-control" id="col" autocomplete="off" value="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="address">Юридический адрес</label>
                                                                <input name="legal_address" type="text" class="form-control" id="address" autocomplete="off" value="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                                <button type="submit" id="editPartnerButton" class="loginButton" data-api="wtf">
                                                                    Сохранить
                                                                </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="edit-parol__form">
                                            <form action="">
                                                <div class="form-title">
                                                    <h2>Смена пароля</h2>
                                                </div>
                                                <div class="form-data">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="oldPass">Старый пароль</label>
                                                                <input name="old_pass" type="password" class="form-control" id="oldPass">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="newPass">Новый пароль</label>
                                                                <input name="new_pass" type="password" class="form-control" id="newPass">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="passConf">Подтвердите пароль</label>
                                                                <input name="pass_conf" type="password" class="form-control" id="passConf">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                                <button type="submit" class="loginButton" >
                                                                    Сохранить
                                                                </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(function () {

            $("#editPartnerButton").click(function (event) {
                event.preventDefault();

                let formData = new FormData();
                formData.append('company_name', $('input[name="company_name"]').val());
                formData.append('register_number', $('input[name="register_number"]').val());
                formData.append('boss_fullname', $('input[name="boss_fullname"]').val());
                formData.append('person_fullname_for_hiring', $('input[name="person_fullname_for_hiring"]').val());
                formData.append('phone', $('input[name="phone"]').val());
                formData.append('legal_address', $('input[name="legal_address"]').val());
                formData.append('workers_amount', $('input[name="workers_amount"]').val());
                formData.append('email', $('input[name="email"]').val());

                $.ajax({
                   url: $(this).data('api'),
                    processData: false,
                    contentType: false,
                    method: 'PUT',
                    data: formData,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        alert("error")
                    }
                });
            });
        })
    </script>
{% endblock %}
