{% extends 'root/_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="content-title">
        <h2>{% trans 'Districts' %}</h2>
    </div>
    <div class="card-main">
        <div class="card-main__header">
            <h2>{% trans 'Add' %}</h2>
        </div>
        <div class="card-main__content">
            <form class="operator-add__form">
                <div class="col-md-4">
                    <div class="operators-form__item">
                        <div class="form-title">
                            <h2></h2>
                        </div>
                        <div class="form-group">
                            <label for="">{% trans 'City' %}</label>
                            <select class="form-control selectpicker show-tick" name="city" id="">
                                <option value="">{% trans 'Select' %}</option>
                                {% for city in cities %}
                                    <option value="{{ city.id }}" {% if district.city.id == city.id %}selected{% endif %}>{{ city.name_ru }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">{% trans 'Name' %} ({% trans 'Russian' %})</label>
                            <input name="name_ru" type="text" class="form-control" id="" autocomplete="off" value="{{ district.name_ru }}">
                        </div>
                        <div class="form-group">
                            <label for="">{% trans 'Name' %} ({% trans 'English' %})</label>
                            <input name="name_en" type="text" class="form-control" id="" autocomplete="off" value="{{ district.name_en }}">
                        </div>
                    </div>
                    <div class="operators-button form-send__buttons">
                        <div class="form-send__button">
                            <button type="submit" id="formSendButton" data-url="{% url 'api:admin:directory:district.update' district.id %}">{% trans 'Save' %}</button>
                        </div>
                        <div class="form-reset__buttton">
                            <button type="reset">{% trans 'Clear' %}</button>
                        </div>
                    </div>
                </div>

            </form>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $("#formSendButton").click(function (e) {
                e.preventDefault();
                let $formData = new FormData();
                $formData.append("city", $("select[name='city']").val());
                $formData.append("name_ru", $("input[name='name_ru']").val());
                $formData.append("name_en", $("input[name='name_en']").val());

                $.ajax({
                    url: $(this).data("url"),
                    type: "PUT",
                    data: $formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var x = document.getElementById("mainSuccess");
                        x.className = "show";
                        setTimeout(function(){
                            x.className = x.className.replace("show", "");
                            window.location.href = "{% url 'root.directory.district.list' %}";
                        }, 1500);
                    },
                    error: function (data) {
                        var x = document.getElementById("mainError");

                        x.className = "show";
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                    }
                });
            });
        });
    </script>
{% endblock %}
